*{
box-sizing: border-box;}

body{
	background:url('kepek/hatter2.jpg');
	background-size:cover;
	color:white;
}
#content{
	max-width:900px;
	margin: 10px auto 0 auto;
	padding:20px;
	background:#6342f5;
	font-family:Verdana, "sans-serif";
}
h1{
	text-transform:uppercase;
	text-align:center;
	padding: 20px 0;
	letter-spacing:5px;
}
img{
	width:300px;
	border:1px solid white;
	padding:2px;
}
.left{
	float:left;
	margin:0 10px 5px 0;
}
.right{
	float:right;
	margin:0 0 0 10px;
}
h3{
	font-weight:bold;
	border-bottom:1px solid white;
	padding-bottom: 10px;
}
p{
	text-align:justify;
}