@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
	box-sizing:border-box;
}

body{
	background: url("../kepek/hatterem1")
}
#tartalom{
	max-width:500px;
	width:90%;
	margin:0 auto;
	background: #2f4f4f;
	padding: 20px;
	color:white;
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}
img {
	border: 2px solid gray;
	padding:2px;
	margin: 6px;
}
.balra{
	float:left;
	margin-left:0;
}
.jobbra{
	float:right;
	margin-right:0;
}

p {
	border-bottom: 1px dotted white;
	overflow:auto;
	text-align: justify;
	padding-bottom: 20px;
}

h1 {
	font-size:30px;
	letter-spacing:5px;
	text-transform:uppercase;
}