@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body {
  margin:0;
  font-family: 'Relaway' sans-serif;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: right;
  background-attachment: fixed;
  background: url('../kepek/hatter.jpg') fixed;
  background-size:cover;
}
* {
	box-sizing:border-box;
}
header{
	background: url('../kepek/ipv4fogyas.png');
	padding: 85px 70px;
}

#content {
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: 980px;
}

.frame {
  width: 490px;
  float: right;
  padding: 0px 5px 5px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgba(227, 225, 233, 0.8);
}

.frame img {
  width: 499px;
  position: relative;
  left: -5px;
  border-bottom: 2px solid black;
}

h1,
h2 {
  font-variant: small-caps;
  font-style: italic;
}

p.imgtitle {
  font-size: 1.1em;
  margin: 0;
}

table,
.frame {
  border: 3px solid green;
}

a:link,
a:visited {
  color: blue;
}
.float-right{
	float:right;
	margin:0 0 0 0;
}
.right{
	float:right;
}
